:root {
    --white-color: #FFFFFF;
    --grey-color: #C7C7C7;
    --gray-color: #D8D8D8;
    --blue-background-color: #012D63;
    --purple-background-color: #8E32C6;
    --dark-blue-background-color: #021635;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }

  body{
   background-color: var(--dark-blue-background-color);
  }

a {
    text-decoration: none;
  }

ul{
    list-style: none;
}

.header{
    background-color: var(--blue-background-color);
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  background-color: #012D63;
}

.navigation-link{
   color: var(--grey-color);
}

.navigation-link {
  color: var(--gray-color);
}

.navigation-link:hover{
  color: var(--white-color);
}

.navigation-link:focus{
  color: var(--white-color);
}

.navigation-item:not(:nth-child(7)) {
  margin-left: 29px;
}


.navigation-item:nth-child(7) {
  margin-left: 73px;
}


.navigation-list {
    display: flex;
    justify-content: space-between;
  }

 .colorawe{
    background-image: url(image/Group\ 37\ \(1\)\ 1\ \(1\).png);
    height: 858px;
    background-size: cover;
 }

 .colorawe-article{
    color: var(--white-color);
 }

 .colorawe p {
    margin-top: 12px;
    font-size: 18px;
    text-wrap: wrap;
    width: 508px;
    font-weight: 400;
}

.colorawe-article{
  padding-top: 94px;
}


 .button{
    background-color: var(--purple-background-color);
    color: var(--white-color);
    width: 254px;
    height: 67px;
    border-radius: 10px;
    border: none;
 }

 .info-list{
    display: flex;
    justify-content: space-between;
    padding: 25px 50px;
 }


 .list-item{
    color: var(--white-color);
 }

 .article-card{
    border-color: var(--purple-background-color);
    border-style: solid;
    border-width: 5px;
 }

 .logo{
  padding: 0;
 }

 .info{
  padding: 0 105px;
 }



 .list-item{
  font-size: 36px;
 }

 .reviewss{
    display: flex;
    justify-content: center;
    color: var(--white-color);
    font-size: 65px;
 }

 .card-list-item{
   width: 255px;
   height: 292px;
   border-radius: 15px;
 }
 
 .reviews-list{
   margin: 93px;
 }

 .card-list-item:nth-child(1){
   background-image: linear-gradient(to right bottom, #00E5E6, #00ABF7, #9A76F9, #CC5EC2);
 }

 .card-list-item:nth-last-child(2){
   background-image: linear-gradient(to right bottom, #FF68B4, #FF45E1, #CE3AFF, #8961FF);
 }

 .card-list-item:nth-child(3){
   background-image: linear-gradient(to right bottom, #FFE128, #FF9B5C, #FF8381, #FF5489);
 }


 .colorawe{
    margin-bottom: 130px;
 }

 .article-card{
    margin-bottom: 149px;
 }

 .reviews-list{
    display: flex;
    justify-content: space-between;
    color: var(--white-color);
 }

 .colorrave{
   font-size: 144px;
   line-height: auto;
   margin: 0;
 }

 .your-dream-nike{
   font-size: 77px;
   margin: 0;
 }

 .colorawe-text{
   display: flex;
   flex-wrap: wrap;
 }

 .colorawe-text{
   margin-top: 12px;
   margin-bottom: 41px;
   width: 508px;
 }

 .info{
   background-image: url(image/Group\ 8\ 1.png);
   background-repeat: no-repeat;
   background-size: cover;
 }

 .reviews{
   background-image: url(image/Group\ 6\ 1.png);
   background-size: cover;
 }

 .card-list-item:not(:last-child){
  box-shadow: 0px 14px 1px -7px rgb(142, 50, 198, 90%), 0px 30px 0px -16px rgb(142, 50, 198, 60%);
 }

 .card-list-item:last-child{
  box-shadow: 0px 14px 1px -7px rgb(255, 155, 92, 90%), 0px 30px 0px -16px rgb(255, 155, 92, 60%);
 }

 .order{
  background-image: url(image/Group\ 2\ 1.png);
  background-position: center;
  background-size: cover;
  
 }

.orderr{
  display: flex;
  justify-content: center;
  color: var(--white-color);
  font-size: 48px;
  font-weight: 400;
}

.form-order{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-order{
  border: none;
}

.input-order{
  padding: 12px;
  padding-bottom: 13px;
  padding-left: 25px;
  padding-right: 417px;
  margin: 19px;
  border-radius: 30px;
  font-size: 24px;
}

.input-order:hover{
  padding: 12px;
  padding-bottom: 13px;
  padding: 25px;
  padding-left: 25px;
  padding-right: 460px;
  border-radius: 30px;
  font-size: 28px;
}

.input-order:focus{
  padding: 12px;
  padding-bottom: 13px;
  padding: 25px;
  padding-left: 25px;
  padding-right: 460px;
  border-radius: 30px;
  font-size: 28px;
}

.button-order{
  width: 248px;
  height: 68px;
  border-radius: 15px;
  font-size: 24px;
  font-weight: 400;
  border: none;
  color: var(--white-color);
  background-color: var(--purple-background-color);
}

.footer {
  background-color: #021635;
  color: white;
  padding-top: 45px;
}

.footer-link {
  color: white;
}

.footer-list {
  display: flex;
  justify-content: space-between;
}

.footer-item {
  font-size: 24px;
}

 

 
 
 

 


 
