:root {
    --white-color: #FFFFFF;
    --grey-color: #C7C7C7;
    --gray-color: #D8D8D8;
    --blue-background-color: #012D63;
    --purple-background-color: #8E32C6;
    --dark-blue-background-color: #021635;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }


  body{
   background-color: var(--dark-blue-background-color);
  }

a {
    text-decoration: none;
  }

ul{
    list-style: none;
}

.header{
    background-color: var(--blue-background-color);
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  background-color: #012D63;
}


.logo1{
  margin-top: 20px;
  width: 100px;
  height: 60px;
}

.navigation-link{
   color: var(--grey-color);
}

.navigation-link {
  color: var(--gray-color);
}

.navigation-link:hover{
  color: var(--white-color);
}

.navigation-link:focus{
  color: var(--white-color);
}

.navigation-item:not(:nth-child(7)) {
  margin-left: 29px;
}


.navigation-item:nth-child(7) {
  margin-left: 73px;
}


.navigation-list {
    display: flex;
    justify-content: space-between;
  }

.navigation{
  font-size: 24px
}

 .colorawe{
    background-image: url(image/cross_nike\ \(1\).png);
    height: 858px;
    background-size: cover;
 }

 .colorawe-article{
    color: var(--white-color);
 }

 .colorawe p {
    margin-top: 12px;
    font-size: 18px;
    text-wrap: wrap;
    width: 508px;
    font-weight: 400;
}

.colorawe-article{
  padding-top: 94px;
}


 .button{
    background-color: var(--purple-background-color);
    color: var(--white-color);
    width: 254px;
    height: 67px;
    border-radius: 10px;
    border: none;
 }

 .info-list{
    display: flex;
    justify-content: space-between;
    padding: 25px 50px;
 }


 .list-item{
    color: var(--white-color);
 }

 .article-card{
    border-color: var(--purple-background-color);
    border-style: solid;
    border-width: 5px;
 }

 .reviewss{
    display: flex;
    justify-content: center;
    color: var(--white-color);
    font-size: 65px;
 }

 .card-list-item{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
   width: 255px;
   height: 292px;
   border-radius: 15px;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 10px;
   }

   .reviews-img{
    width: 31px;
    height: 31px;
    margin-right: 10px;
   }
 
 .reviews-list{
   padding: 93px;
   margin-bottom: 0;
 }


 .card-list-item:nth-child(1){
   background-image: linear-gradient(to right bottom, #00E5E6, #00ABF7, #9A76F9, #CC5EC2);
 }

 .card-list-item:nth-last-child(2){
   background-image: linear-gradient(to right bottom, #FF68B4, #FF45E1, #CE3AFF, #8961FF);
 }

 .card-list-item:nth-child(3){
   background-image: linear-gradient(to right bottom, #FFE128, #FF9B5C, #FF8381, #FF5489);
 }


 .colorawe{
    padding-bottom: 130px;
 }

 .reviews {
  background: url(img/flower.png), url(img/group6.png);
  background-size: 250px, 100%;
  background-repeat: no-repeat;
  background-position: left bottom, center;
}

 .reviews-list{
    display: flex;
    justify-content: space-between;
    color: var(--white-color);
    padding: 114px;
 }

 .colorrave{
   font-size: 144px;
   line-height: auto;
   margin: 0;
 }

 .your-dream-nike{
   font-size: 77px;
   margin: 0;
 }

 .colorawe-text{
   display: flex;
   flex-wrap: wrap;
 }

 .colorawe-text{
   margin-top: 12px;
   margin-bottom: 41px;
   width: 508px;
 }

 .info{
   background-image: url(image/group8\ \(1\).png);
   background-repeat: no-repeat;
   background-size: cover;
   padding: 90px 0;
   
 }
 
li.list-item:not(:last-child){
  border-right: 1px solid white;
}

.list-item{
  font-size: 36px;
  padding: 0 55px;
 }

 .reviews{
 background-image: url(image/flower\ \(1\).png),url(image/group6\ \(1\).png);
  background-size:250px,cover;
  background-position:left bottom, center;
  background-repeat:no-repeat ;
}

 .reviews{
  border-top: 2px solid white;
  border-bottom: 2px solid white;
 }

 h1, h2 , h3 , h4 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

 
 .reviews-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.reviews-text p{
 margin: 5px 0;
}

 .card-list-item p{
  font-size: 24px;
 }


 .card-list-item:not(:last-child){
  box-shadow: 0px 14px 1px -7px rgb(142, 50, 198, 90%), 0px 30px 0px -16px rgb(142, 50, 198, 60%);
 }

 .card-list-item:last-child{
  box-shadow: 0px 14px 1px -7px rgb(255, 155, 92, 90%), 0px 30px 0px -16px rgb(255, 155, 92, 60%);
 }

 .order{
  background-image: url(image/fon_2_tree\ \(1\).png);
  background-position: center;
  background-size: cover;
  padding: 30px 0;
 }

.orderr{
  display: flex;
  justify-content: center;
  color: var(--white-color);
  font-size: 48px;
  font-weight: 400;
}

.form-order{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-order{
  border: none;
}

.input-order{
  padding: 12px;
  padding-bottom: 13px;
  padding-left: 25px;
  padding-right: 417px;
  margin: 19px;
  border-radius: 30px;
  font-size: 24px;
}

.input-order:hover{
  width: 350px;
}

.input-order:focus{
  width: 350px;
}

.button-order{
  width: 248px;
  height: 68px;
  border-radius: 15px;
  font-size: 24px;
  font-weight: 400;
  border: none;
  color: var(--white-color);
  background-color: var(--purple-background-color);
}

.footer {
  background-color: #021635;
  color: white;
  padding-top: 45px;
}

.footer-link {
  color: white;
}

.footer-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid;
}

.footer-item {
  font-size: 24px;
  width: 50%;
}

.footer-div{
  display: flex;
  justify-content: space-between;
}



 

 
 
 

 


 
